{% block title %}
{% endblock %}

{% block content %}
  <h2 style="text-align:center;"><strong>全10ラウンドのゲームが終了しました。引き続き、アンケートへのご回答をお願いいたします。</strong></h2>
  <br><br><br>


Payofflog: {{player.participant.Discounted_points_Per_Round}}
<br>
Role: {{player.participant.ROLE}}

SELECTED_ROUND:{{player.participant.SelectedRound}}
<br>
FINAL_POINT_Payoff: {{player.final_point_payoff}}
<br>
Final_Payoff: {{player.payoff}}

FINAL: {{participant.payoff_plus_participation_fee}}

{{ if Treatment == 1}}

{{else}}
  <br>
  T3_whether_getAI_OFFER: {{participant.T3_whether_getAI_OFFER}}
   'T3_AI_P1_Discounted_points': {{participant.T3_AI_P1_Discounted_points}}<br><br>
  'T3_AI_P2_Discounted_points': {{participant.T3_AI_P2_Discounted_points}}<br><br>
  <br>
  id_sameAIpoints: {{participant.id_sameAIpoints}}

{{endif}}



<br>
  <div style="text-align:center;">
    {{ next_button }}
  </div>
{% endblock %}